/* flex */
.flex {
  display: flex;
}

.fl-one {
  flex: 1;
}

.fl-ai-center {
  align-items: center;
}

.fl-jc-center {
  justify-content: center;
}

.fl-jc-space-around {
  justify-content: space-around;
}

.fl-jc-space-between {
  justify-content: space-between;
}

.fl-wrap {
  flex-wrap: wrap;
}
