{extend name="public/base" /}
{block name="head"}
<script>
    window.onload = function () {
        let verify = document.getElementById('verify');
        verify.src = hostUrl + '?s=captcha';
        verify.onclick = function () {
            verify.src = hostUrl + '?s=captcha' + '?rand=' + Math.random();
        }
    }
</script>
{/block}

{block name="body"}
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">

        <!--标题部分-->
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>后台管理</h2>
            <p>管理系统</p>
        </div>


        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">

            <!--用户名/密码部分-->
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                       for="LAY-user-login-username"></label>
                <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                       placeholder="密码" class="layui-input">
            </div>


            <!--验证码部分-->
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                               for="LAY-user-login-vercode"></label>
                        <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                               placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <!--<img src="https://www.oschina.net/action/user/captcha" class="layadmin-user-login-codeimg"-->
                            <!--id="LAY-user-get-vercode">-->
                            <img alt="captcha" class="layadmin-user-login-codeimg" id="verify"/>
                        </div>
                    </div>
                </div>
            </div>


            <!--登录按钮部分-->
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="LAY-user-login-submit">登 入</button>
            </div>


        </div>
    </div>

    <!--版本部分-->
    <div class="layui-trans layadmin-user-login-footer">
        <p>© 2020 后台管理</p>
    </div>


</div>

<!--脚本部分-->
<script>
    layui.config({
        base: '/static/frame/layui-admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {
        var $ = layui.$
            , setter = layui.setter
            , admin = layui.admin
            , form = layui.form
            , router = layui.router()
            , search = router.search;

        form.render();

        //提交
        form.on('submit(LAY-user-login-submit)', function (obj) {
            //请求登入接口
            admin.req({
                url: "{:url('login/doLogin')}" //实际使用请改成服务端真实接口
                , data: obj.field
                , method: 'POST'
                , done: function (res) {
                    if (res.status == 'no') {
                        $("#verify").click();
                        layer.msg(res.msg, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        });
                    } else {
                        //登入成功的提示与跳转
                        layer.msg('登入成功', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            location.href = "{:url('admin/index/index')}"; //后台主页
                        });
                    }
                }
            });
        });
    });
</script>

{/block}