{extend name="public/base" /}
{block name="body"}
{include file="public/edit" /} <!--引入编辑模板-->

<!--脚本部分-->
<script>
    layui.config({
        base: '/static/frame/layui-admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'upload', 'element', 'layedit'], function () {
        var $ = layui.$
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload
            , admin = layui.admin
            , element = layui.element
            , layedit = layui.layedit;

        //时间选择器
        $(".timeItem").each(function () {
            //日期时间选择器
            laydate.render({
                elem: '#' + $(this).attr("id")
                , type: 'date'
            });
        });

        //上传图片
        var uploadIng = null;
        admin.events.Upload = function (othis) {
            uploadIng = othis;
        };

        upload.render({
            url: '{$uploadUrl}'
            , elem: '.layui-upload-button'
            , done: function (res) {
                if (res.code == 0) {
                    var src = res.data['src'];
                    src = src.replace('"', '').replace(/[\\]/g, '/');   //去掉反斜杠
                    src = hostUrl + src;         //加上域名
                    $("#" + uploadIng.attr("data")).val(src);
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
            , error: function () {
                //请求异常回调
                console.log("error");
            }
        });

        //查看图片
        admin.events.Preview = function (othis) {
            var src = $("#" + othis.attr("lay-data")).val();
            layer.photos({
                photos: {
                    "title": "查看图片" //相册标题
                    , "data": [{
                        "src": src //原图地址
                    }]
                }
                , shade: 0.01
                , closeBtn: 1
                , anim: 5
            });
        };
        upload.render({
            url: '{$uploadUrl}'
            , elem: '.layui-upload-button-file'
            , accept: 'file'
            , done: function (res) {
                if (res.code == 0) {
                    var src = res.data['src'];
                    src = src.replace('"', '').replace(/[\\]/g, '');   //去掉反斜杠
                    src = hostUrl + src;         //加上域名
                    $("#" + uploadIng.attr("data")).val(src);
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
            , error: function () {
                //请求异常回调
                console.log("error");
            }
        });
        //下载文件
        admin.events.DownFile = function (othis) {
            var src = $("#" + othis.attr("lay-data")).val();
            //创建a标签
            var link = document.createElement('a');
            //获取后缀名字
            suffix = src.substring(src.lastIndexOf("."), src.length);
            link.setAttribute("download", 'file' + suffix);
            link.href = src;
            link.click();
        };

        //查看视频
        admin.events.videoPreview = function (othis) {
            var src = $("#" + othis.attr("lay-data")).val();
            layer.open({
                title: '视频查看'
                ,
                content: '<video width="320" height="240" controls autoplay><source src= ' + src + ' type="video/mp4"></video>'
            });

        };

        //上传视频
        upload.render({
            url: '{$uploadUrl}'
            , size: 201000                   //传输大小100k
            , accept: 'video' //允许上传的文件类型
            , elem: '.layui-upload-button-vidoe'
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                layer.load(); //上传loading
            }
            , done: function (res) {
                console.log(res);
                if (res.code == 0) {
                    var src = res.data['src'];
                    src = src.replace('"', '').replace(/[\\]/g, '/');   //去掉反斜杠
                    src = hostUrl + src;         //加上域名
                    $("#" + uploadIng.attr("data")).val(src);
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
                layer.closeAll('loading'); //关闭loading
            }
            , error: function () {
                //请求异常回调
                layer.closeAll('loading'); //关闭loading
                console.log("error");
            }
        });


        //富文本
        layedit.set({
            uploadImage: {
                url: "{$uploadUrl}" //接口url
                , type: 'post' //默认post
            }
        });
        {include file="public/edit-rich-text"}
    })
</script>
<!--脚本部分结束-->

{/block}