{extend name="public/base" /}
{block name="body"}

<div class="layui-form" lay-filter="">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>用户协议</legend>
    </fieldset>
    <div class="layui-form-item layui-form-text">

        <div class="layui-input-block" style="    margin-left: 28px;;">
            <textarea placeholder="请输入内容" id="demo" class="layui-textarea" name="desc"
                      style="min-height: 519px;"></textarea>
        </div>
    </div>

    <div class="layui-form-item" style="margin-bottom: 466px;">
        <div class="layui-input-block" style="margin-left: 28px;">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: '/static/frame/layui-admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', "layedit"], function () {
        var $ = layui.$,
            form = layui.form
            , layer = layui.layer
            , admin = layui.admin
            , layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: '{:url("uploadImg")}' //接口url
                , type: 'post' //默认post
            }
        });
        var editText = layedit.build('demo', {height: 570}); //建立编辑器
        layedit.setContent(editText, '{$desc|raw}');//赋值文本编辑器

        //监听提交
        form.on('submit(demo1)', function (data) {
            layedit.sync(editText)
            $.ajax({
                url: "{:url('doUserAgree')}",
                methods: 'POST',
                dataType: 'json',
                data: {
                    desc: layedit.getContent(editText)
                },
                success: function (res) {
                    layer.msg(res.msg);
                }
            })
        });


    });
</script>
{/block}