<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-form layui-form-pane" style="padding: 20px 30px 0 0;">

                {volist name="data" id="vo"}
                {switch vo.type}

                {case text}
                <!--类型为文本部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <input type="text" name="{$vo.name}" value="{$vo.value}" autocomplete="off"
                               class="layui-input">
                    </div>
                    {if condition="$vo.word neq ''"}
                    <div class="layui-inline">
                        <div class="layui-form-mid layui-word-aux">{$vo.word}</div>
                    </div>
                    {/if}
                </div>
                <!--类型为文本部分结束-->
                {/case}


                {case hidden}
                <!--类型为隐藏域部分-->
                <input type="hidden" name="{$vo.name}" value="{$vo.value}" autocomplete="off"
                       class="layui-input">
                <!--类型为隐藏域部分结束-->
                {/case}

                {case datetime}
                <!--类型为datetime部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <input type="text" name="{$vo.name}" id="{$vo.name}" value="{$vo.value}"
                               autocomplete="off" class="layui-input timeItem">
                    </div>
                    {if condition="$vo.word neq ''"}
                    <div class="layui-inline">
                        <div class="layui-form-mid layui-word-aux">{$vo.word}</div>
                    </div>
                    {/if}
                </div>
                <!--类型为datetime部分结束-->
                {/case}

                {case file}
                <!--类型为下载文件部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <input name="{$vo.name}" id="{$vo.name}" placeholder="文件地址"
                               value="{$vo.value}"
                               class="layui-input">
                    </div>
                    <div class="layui-input-block layui-btn-container" style="width: auto;">
                        <button type="button" class="layui-btn layui-upload-button-file layui-btn-primary"
                                data="{$vo.name}" layadmin-event="Upload">
                            <i class="layui-icon">&#xe67c;</i>上传文件
                        </button>
                        <button class="layui-btn layui-btn-primary" layadmin-event="DownFile" lay-data="{$vo.name}">
                            下载文件
                        </button>
                    </div>
                </div>
                <!--类型为下载文件部分结束-->
                {/case}

                {case select}
                <!--类型为下拉框部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <select name="{$vo.name}">
                            {volist name="$vo.option" id="d"}
                            {if condition="$d[0] eq $vo.value"}
                            <option value="{$d[0]}" selected>{$d[1]}</option>
                            {else/}
                            <option value="{$d[0]}">{$d[1]}</option>
                            {/if}
                            {/volist}
                        </select>
                    </div>
                    {if condition="$vo.word neq ''"}
                    <div class="layui-inline">
                        <div class="layui-form-mid layui-word-aux">{$vo.word}</div>
                    </div>
                    {/if}
                </div>
                <!--类型为下拉框部分结束-->
                {/case}

                {case textarea}
                <!--类型为textarea部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <textarea type="text" name="{$vo.name}" autocomplete="off"
                                  class="layui-textarea">{$vo.value}</textarea>
                    </div>
                </div>
                <!--类型为textarea部分结束-->
                {/case}

                {case checkbox}
                <!--类型为多选框部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        {volist name="$vo.option" id="d"}
                        <input type="checkbox" name="{$vo.name}[{$d[0]}]" title="{$d[1]}" value="{$d[0]}" {$d[2]}>
                        {/volist}
                    </div>
                </div>
                <!--类型为单选框部分结束-->
                {/case}

                {case img}
                <!--类型为图片部分-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <input name="{$vo.name}" id="{$vo.name}" placeholder="图片地址"
                               value="{$vo.value}"
                               class="layui-input">
                    </div>
                    <div class="layui-input-block layui-btn-container" style="width: auto;">
                        <button type="button" class="layui-btn layui-upload-button layui-btn-primary"
                                data="{$vo.name}" layadmin-event="Upload">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                        <button class="layui-btn layui-btn-primary" layadmin-event="Preview" lay-data="{$vo.name}">
                            查看图片
                        </button>
                    </div>
                </div>
                <!--类型为图片部分结束-->
                {/case}

                {case video}
                <!--类型为视频部分结束-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$vo.label}</label>

                    <div class="layui-input-block">
                        <input name="{$vo.name}" id="{$vo.name}" placeholder="视频地址"
                               value="{$vo.value}"
                               class="layui-input">
                    </div>
                    <div class="layui-input-block layui-btn-container" style="width: auto;">
                        <button type="button" class="layui-btn layui-upload-button-vidoe layui-btn-primary"
                                data="{$vo.name}" layadmin-event="Upload">
                            <i class="layui-icon">&#xe67c;</i>上传视频
                        </button>
                        <button class="layui-btn layui-btn-primary" layadmin-event="videoPreview"
                                lay-data="{$vo.name}">
                            查看视频
                        </button>
                    </div>
                    {if condition="$vo.word neq ''"}
                    <div class="layui-inline">
                        <div class="layui-form-mid layui-word-aux">{$vo.word}</div>
                    </div>
                    {/if}
                </div>
                <!--类型为视频部分结束-->
                {/case}

                {case richText}
                <!--富文本部分-->
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">{$vo.label}</label>
                    <div class="layui-input-block">
                        <textarea id="{$vo.name}" name="{$vo.name}" autocomplete="off"
                                  lay-verify="content" style="display: none;"
                                  class="layui-textarea">{$vo.value}</textarea>
                    </div>
                    {if condition="$vo.word neq ''"}
                    <div class="layui-inline">
                        <div class="layui-form-mid layui-word-aux">{$vo.word}</div>
                    </div>
                    {/if}
                </div>
                <!--富文本部分结束-->
                {/case}

                {/switch}
                {/volist}

                <!--提交按钮部分-->
                <div class="layui-form-item layui-hide">
                    <button class="layui-btn" lay-submit lay-filter="LAY-submit" id="LAY-submit">提交</button>
                </div>
                <!--提交按钮部分结束-->

            </div>
        </div>
    </div>
</div>