<div class="layui-fluid">
    <div class="layui-card">
        {notempty name="item"}
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">

            <!--搜索表头部分-->
            <div class="layui-form-item">
                {volist name="item" id="item"}

                <!--搜索框部分-->
                {if condition="$item.type eq 'input'"}
                <div class="layui-inline">
                    <label class="layui-form-label">{$item.name}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="{$item.item}" placeholder="{$item.placeholder}" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <!--搜索框部分结束-->

                <!--选择框部分-->
                {elseif condition="$item.type eq 'select'"/}
                <div class="layui-inline">
                    <label class="layui-form-label">{$item.name}</label>
                    <div class="layui-input-inline">
                        <select name="{$item.item}">
                            <option value="0">所有</option>
                            {volist name="item.data" id="data"}
                            <option value="{$data[$item.option_value]}">{$data[$item.option]}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <!--选择框部分结束-->

                <!--选择时间部分-->
                {elseif condition="$item.type eq 'datetime'"/}
                <div class="layui-inline">
                    <label class="layui-form-label">{$item.name}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="{$item.item}" placeholder="{$item.placeholder}" autocomplete="off"
                               class="layui-input timeItem" id="{$item.item}">
                    </div>
                </div>
                <!--选择时间部分结束-->

                {/if}
                {/volist}

                <!--搜索框按钮部分-->
                <div class="layui-inline">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
                <!--搜索框按钮部分结束-->

            </div>
        </div>
        <!--搜索表头部分结束-->

        {/notempty}

        <!--表格部分-->
        <div class="layui-card-body">

            <!--顶部添加删除部分-->
            <script type="text/html" id="tool-bar">
                <div>
                    {if condition="$isDelete"}
                    <button class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-event="delete">删除</button>
                    {/if}
                    {if condition="$isAdd"}
                    <button class="layui-btn layui-btn-sm layuiadmin-btn-admin layui-btn-add" lay-event="add">添加
                    </button>
                    {/if}
                </div>
            </script>
            <!--顶部添加删除部分结束-->

            <!--表格渲染部分-->
            <table id="LAY-table-manage" lay-filter="LAY-table-manage"></table>
            <!--表格渲染部分结束-->

            <!--tpl转换部分-->
            {volist name="tpl" id="tpl"}
            {if condition="$tpl.type eq 'text'"}
            <script type="text/html" id="{$tpl.item}Tpl">
                {volist name="tpl.data" id="data"}
                {{#  if(d.{$tpl.item} == {$data[$tpl.key_item]}){ }}
                {$data[$tpl.value_item]}
                {{#  } }}
                {/volist}
            </script>
            {else if condition="$tpl.type eq 'img'"}
            <script type="text/html" id="{$tpl.item}Tpl">
                <img style="display: inline-block; height: 100%;" lay-data="{{ d.{$tpl.item} }}"
                     src="{{ d.{$tpl.item} }}" layadmin-event="Preview">
            </script>
            {/if}
            {/volist}
            <!--tpl转换部分结束-->

            <!--表格右侧按钮部分-->
            <script type="text/html" id="toolbar">
                {if condition="$isEdit"}
                <a class="layui-btn layui-btn-normal layui-btn-xs layui-btn-edit" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                {/if}
                {if condition="$isDelete"}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
                {/if}
            </script>
            <!--表格右侧按钮部分结束-->

        </div>
        <!--表格部分结束-->

    </div>
</div>