<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.axunl.mapper.ICommentMapper">
    <resultMap id="commentDTOmap" type="cn.axunl.dto.CommentDTO">
        <id property="commentId" column="comment_id"></id>
        <result property="parentId" column="parent_id"></result>
        <result property="questionId" column="question_id"></result>
        <result property="replyId" column="reply_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="commentContent" column="comment_content"></result>
        <result property="likeNum" column="like_num"></result>
        <result property="isRead" column="is_read"></result>
        <result property="createTime" column="create_time"></result>
        <result property="childrenNum" column="children_num"></result>
        <result property="questionTitle" column="question_title"></result>
        <association property="user" javaType="cn.axunl.model.CmUser">
            <id property="userId" column="user_id"></id>
            <result property="userName" column="user_name"></result>
            <result property="userAvatarUrl" column="user_avatar_url"></result>
        </association>
        <association property="replyUser" javaType="cn.axunl.model.CmUser">
            <id property="userId" column="user_id"></id>
            <result property="userName" column="user_name"></result>
            <result property="userAvatarUrl" column="user_avatar_url"></result>
        </association>
    </resultMap>
    <resultMap id="commentmap" type="cn.axunl.model.CmComment">
        <id property="commentId" column="comment_id"></id>
        <result property="parentId" column="parent_id"></result>
        <result property="questionId" column="question_id"></result>
        <result property="replyId" column="reply_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="commentContent" column="comment_content"></result>
        <result property="likeNum" column="like_num"></result>
        <result property="isRead" column="is_read"></result>
    </resultMap>
    <insert id="insertGetId" parameterType="cn.axunl.model.CmComment" keyProperty="commentId" keyColumn="comment_id"
            useGeneratedKeys="true">
        insert into cm_comment(
        parent_id,question_id,reply_id,user_id,comment_content
        )values(
        #{parentId},
        #{questionId},
        #{replyId},
        #{userId},
        #{commentContent}
        )
    </insert>
    <update id="readComment">
        update cm_comment set is_read=1 where comment_id=#{commentId} and user_id=#{userId}
    </update>
    <select id="countByQuestionId" resultType="long">
        select count(1) from cm_comment where question_id = #{questionId}
    </select>
    <select id="findByQuestionId" resultMap="commentDTOmap">
        SELECT
        c.*,u.user_name,u.user_avatar_url, IFNULL(ch.children_num,0) as children_num
        FROM
        cm_comment c
        LEFT JOIN cm_user u ON u.user_id = c.user_id
        LEFT JOIN (
        SELECT
        count(1) AS children_num,
        parent_id
        FROM
        cm_comment
        where parent_id != 0
        GROUP BY
        parent_id
        ) ch ON ch.parent_id = c.comment_id
        WHERE
        c.question_id = #{questionId}
        AND c.parent_id = 0
    </select>
    <select id="findChildren" resultMap="commentDTOmap">
SELECT
	c.*, u.user_name,
	u.user_avatar_url
FROM
	cm_comment c
LEFT JOIN cm_user u ON u.user_id = c.reply_id
WHERE
	c.parent_id = #{commentId}
    </select>
    <select id="getNotReadNum" resultType="java.lang.Long">
         select count(1) from cm_comment where user_id=#{userId} and is_read=0 and parent_id!=0
    </select>
    <select id="getCommentReplies" resultMap="commentDTOmap">
SELECT
	c.*, u.user_name,
	u.user_avatar_url,
	q.question_title
FROM
	cm_comment c
LEFT JOIN cm_user u ON c.reply_id = c.user_id
LEFT JOIN cm_question q ON c.question_id = q.question_id
WHERE
	c.user_id = #{userId}
AND c.parent_id != 0
    </select>
</mapper>